{% extends 'base.html.twig' %}

{% block title %}Introduction - Question 4{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/question.css') }}">
{% endblock %}

{% block body %}
<div class="coeur">
    {% for i in 0..(hearts - 1) %}
        <img src="{{ asset('images/coeur.png') }}" alt="Image Score" class="classe-image">
    {% endfor %}
</div>

{% if not result_displayed %}
<main>
    <section class="qcm">
        <form method="post">
            <h2>Les royaumes d'Hyrule</h2>
            <hr /><br />
            <h3>Question 4 : Quel peuple vit dans les montagnes et travaille le minerai ?</h3>
            <div class="block">
                <div class="question">
                    <input type="radio" id="Zoras" name="question" value="Zoras">
                    <label class="radio-container" for="Zoras">"Les Zoras"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Gorons" name="question" value="Gorons">
                    <label class="radio-container" for="Gorons">"Les Gorons"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Kokiri" name="question" value="Kokiri">
                    <label class="radio-container" for="Kokiri">"Les Kokiri"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Hyliens" name="question" value="Hyliens">
                    <label class="radio-container" for="Hyliens">"Les Hyliens"</label><br>
                </div>

                <div class="confirm">
                    <input type="submit" value="Valider">
                </div>
                <div class="score-display">Score: {{ score }}</div>
            </div>
        </form>
    </section>
    <section class="espace"></section>
</main>
{% else %}
    <main>
        {% if is_correct %}
            <div class="qcm">
                <h4>Bravo, Bonne Réponse !</h4>
                <p>Score : +3</p>
                <div class="qcm-exact">
                    <div class="image_exact"></div>
                    <div class="text">
                        <p>Les Gorons sont une race de créatures robustes qui vivent dans les montagnes de Hyrule et sont d'excellents mineurs et forgerons.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('introduction_intro5') }}" method="post">
                    <input type="submit" value="Suivant">
                </form>
            </div>
        {% else %}
            <div class="qcm">
                <h5>Erreur, Mauvaise Réponse !</h5>
                <p>Score : -1</p>
                <div class="qcm-erreur">
                    <div class="image_erreur"></div>
                    <div class="text">
                        <p>Oops! Votre réponse est incorrecte. Pensez à une race de créatures vivant dans les montagnes, connues pour leur force et leur talent en forge.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('introduction_intro4') }}" method="post">
                    <input type="submit" value="Retour">
                </form>
            </div>
        {% endif %}
    </main>
{% endif %}

<section class="start-game">
    <div class="recommencer">
        <form action="{{ path('game_index') }}" method="post">
            <input type="submit" name="recommencer" value="Recommencer">
        </form>
    </div>
</section>
{% endblock %}
