{% extends 'base.html.twig' %}

{% block title %}Introduction - Question 2{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/question.css') }}">
{% endblock %}

{% block body %}
<div class="coeur">
    {% for i in 0..(hearts - 1) %}
        <img src="{{ asset('images/coeur.png') }}" alt="Image Score" class="classe-image">
    {% endfor %}
</div>

{% if not result_displayed %}
<main>
    <section class="qcm">
        <form method="post">
            <h2>Réveil de Link par Navi</h2>
            <hr /><br />
            <h3>Question 2 : Qui envoie Navi pour réveiller Link ?</h3>
            <div class="block">
                <div class="question">
                    <input type="radio" id="Ganondorf" name="question" value="Ganondorf">
                    <label class="radio-container" for="Ganondorf">"Ganondorf."</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Zelda" name="question" value="Zelda">
                    <label class="radio-container" for="Zelda">"La princesse Zelda."</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="mojo" name="question" value="mojo">
                    <label class="radio-container" for="mojo">"Le gardien mystique, L'Arbre Mojo."</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Epona" name="question" value="Epona">
                    <label class="radio-container" for="Epona">"La fidèle et loyale, Epona."</label><br>
                </div>

                <div class="confirm">
                    <input type="submit" value="Valider">
                </div>
                <div class="score-display">Score: {{ score }}</div>
            </div>
        </form>
    </section>
    <section class="espace"></section>
</main>
{% else %}
    <main>
        {% if is_correct %}
            <div class="qcm">
                <h4>Bravo, Bonne Réponse !</h4>
                <p>Score : +3</p>
                <div class="qcm-exact">
                    <div class="image_exact"></div>
                    <div class="text">
                        <p>L'Arbre Mojo, en tant que gardien mystique de la forêt Kokiri, a détecté le danger qui approche et a envoyé Navi pour réveiller Link et l'avertir de sa destinée.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('introduction_intro3') }}" method="post">
                    <input type="submit" value="Suivant">
                </form>
            </div>
        {% else %}
            <div class="qcm">
                <h5>Erreur, Mauvaise Réponse !</h5>
                <p>Score : -1</p>
                <div class="qcm-erreur">
                    <div class="image_erreur"></div>
                    <div class="text">
                        <p>Oops! Votre réponse est incorrecte. Pensez à qui pourrait être connecté à la forêt Kokiri et qui aurait le pouvoir d'envoyer une fée à Link.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('introduction_intro2') }}" method="post">
                    <input type="submit" value="Retour">
                </form>
            </div>
        {% endif %}
    </main>
{% endif %}

<section class="start-game">
    <div class="recommencer">
        <form action="{{ path('game_index') }}" method="post">
            <input type="submit" name="recommencer" value="Recommencer">
        </form>
    </div>
</section>
{% endblock %}
