{% extends 'base.html.twig' %}

{% block title %}Introduction - Question 7{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/question.css') }}">
{% endblock %}

{% block body %}
<div class="coeur">
    {% for i in 0..(hearts - 1) %}
        <img src="{{ asset('images/coeur.png') }}" alt="Image Score" class="classe-image">
    {% endfor %}
</div>

{% if not result_displayed %}
<main>
    <section class="qcm">
        <form method="post">
            <h2>L'ennemi suprême</h2>
            <hr /><br />
            <h3>Question 7 : Quel est le nom du roi des ténèbres qui menace le royaume d'Hyrule ?</h3>
            <div class="block">
                <div class="question">
                    <input type="radio" id="Vaati" name="answer" value="Vaati">
                    <label class="radio-container" for="Vaati">"Vaati"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Ganondorf" name="answer" value="Ganondorf">
                    <label class="radio-container" for="Ganondorf">"Ganondorf"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Demise" name="answer" value="Demise">
                    <label class="radio-container" for="Demise">"Demise"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Malladus" name="answer" value="Malladus">
                    <label class="radio-container" for="Malladus">"Malladus"</label><br>
                </div>

                <div class="confirm">
                    <input type="submit" value="Valider">
                </div>
                <div class="score-display">Score: {{ score }}</div>
            </div>
        </form>
    </section>
    <section class="espace"></section>
</main>
{% else %}
    <main>
        {% if is_correct %}
            <div class="qcm">
                <h4>Bravo, Bonne Réponse !</h4>
                <p>Score : +3</p>
                <div class="qcm-exact">
                    <div class="image_exact"></div>
                    <div class="text">
                        <p>Ganondorf est le roi des ténèbres qui menace d'engulfir le royaume d'Hyrule dans l'obscurité. Link doit réunir le courage et la sagesse pour l'affronter et sauver le monde.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('game_index') }}" method="post">
                    <input type="submit" value="Fin de l'Introduction">
                </form>
            </div>
        {% else %}
            <div class="qcm">
                <h5>Erreur, Mauvaise Réponse !</h5>
                <p>Score : -1</p>
                <div class="qcm-erreur">
                    <div class="image_erreur"></div>
                    <div class="text">
                        <p>Oops! Votre réponse est incorrecte. Le nom du roi des ténèbres commence par un "G" et est associé au pouvoir ténébreux dans Ocarina of Time.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('introduction_step', {'step': 7}) }}" method="post">
                    <input type="submit" value="Retour">
                </form>
            </div>
        {% endif %}
    </main>
{% endif %}

<section class="start-game">
    <div class="recommencer">
        <form action="{{ path('game_index') }}" method="post">
            <input type="submit" name="recommencer" value="Recommencer">
        </form>
    </div>
</section>
{% endblock %}
