{% extends 'base.html.twig' %}

{% block title %}Forêt - Continuation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/foret/foret.css') }}">
{% endblock %}

{% block body %}
<div class="coeur">
    {% for i in 0..(hearts - 1) %}
        <img src="{{ asset('images/coeur.png') }}" alt="Image Score" class="classe-image">
    {% endfor %}
</div>

<main>
    <section class="qcm">
        <h2>Forêt Kokiri - Niveau 4</h2>
        <hr /><br />
        <p>Continuez votre aventure dans la forêt...</p>
        
        <div class="suite">
            <form action="{{ path('foret_foret5') }}" method="post">
                <input type="submit" value="Suivant">
            </form>
        </div>
    </section>
</main>

<section class="start-game">
    <div class="recommencer">
        <form action="{{ path('game_index') }}" method="post">
            <input type="submit" name="recommencer" value="Recommencer">
        </form>
    </div>
</section>
{% endblock %}
