{% extends 'base.html.twig' %}

{% block title %}Forêt Kokiri - Question{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/foret/foret.css') }}">
{% endblock %}

{% block body %}
<div class="coeur">
    {% for i in 0..(hearts - 1) %}
        <img src="{{ asset('images/coeur.png') }}" alt="Image Score" class="classe-image">
    {% endfor %}
</div>

{% if not result_displayed %}
<main>
    <section class="qcm">
        <form method="post">
            <h2>La Forêt Kokiri</h2>
            <hr /><br />
            <h3>Question : Qui est la meilleure amie de Link dans la forêt Kokiri ?</h3>
            <div class="block">
                <div class="question">
                    <input type="radio" id="Saria" name="answer" value="Saria">
                    <label class="radio-container" for="Saria">"Saria"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Mido" name="answer" value="Mido">
                    <label class="radio-container" for="Mido">"Mido"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Epona" name="answer" value="Epona">
                    <label class="radio-container" for="Epona">"Epona"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Navi" name="answer" value="Navi">
                    <label class="radio-container" for="Navi">"Navi"</label><br>
                </div>

                <div class="confirm">
                    <input type="submit" value="Valider">
                </div>
                <div class="score-display">Score: {{ score }}</div>
            </div>
        </form>
    </section>
    <section class="espace"></section>
</main>
{% else %}
    <main>
        {% if is_correct %}
            <div class="qcm">
                <h4>Bravo, Bonne Réponse !</h4>
                <p>Score : +3</p>
                <div class="qcm-exact">
                    <div class="image_exact"></div>
                    <div class="text">
                        <p>Saria est une Kokiri et la meilleure amie de Link. Elle jouera un rôle important dans son aventure.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('foret_foret2') }}" method="post">
                    <input type="submit" value="Suivant">
                </form>
            </div>
        {% else %}
            <div class="qcm">
                <h5>Erreur, Mauvaise Réponse !</h5>
                <p>Score : -1</p>
                <div class="qcm-erreur">
                    <div class="image_erreur"></div>
                    <div class="text">
                        <p>Oops! Votre réponse est incorrecte. C'est une Kokiri qui est très chère au cœur de Link et qui jouera un rôle crucial.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('foret_foret1') }}" method="post">
                    <input type="submit" value="Retour">
                </form>
            </div>
        {% endif %}
    </main>
{% endif %}

<section class="start-game">
    <div class="recommencer">
        <form action="{{ path('game_index') }}" method="post">
            <input type="submit" name="recommencer" value="Recommencer">
        </form>
    </div>
</section>
{% endblock %}
