{% extends 'base.html.twig' %}

{% block title %}Montagne - Question{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/montagne/montagne.css') }}">
{% endblock %}

{% block body %}
<div class="coeur">
    {% for i in 0..(hearts - 1) %}
        <img src="{{ asset('images/coeur.png') }}" alt="Image Score" class="classe-image">
    {% endfor %}
</div>

{% if not result_displayed %}
<main>
    <section class="qcm">
        <form method="post">
            <h2>Les Montagnes de Hyrule</h2>
            <hr /><br />
            <h3>Question : Quel temple se cache dans les profondeurs de la montagne ?</h3>
            <div class="block">
                <div class="question">
                    <input type="radio" id="Temple" name="answer" value="Temple">
                    <label class="radio-container" for="Temple">"Le Temple du Feu"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Glace" name="answer" value="Glace">
                    <label class="radio-container" for="Glace">"Le Temple de la Glace"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Eau" name="answer" value="Eau">
                    <label class="radio-container" for="Eau">"Le Temple de l'Eau"</label><br>
                </div>
                <div class="question">
                    <input type="radio" id="Ombre" name="answer" value="Ombre">
                    <label class="radio-container" for="Ombre">"Le Temple de l'Ombre"</label><br>
                </div>

                <div class="confirm">
                    <input type="submit" value="Valider">
                </div>
                <div class="score-display">Score: {{ score }}</div>
            </div>
        </form>
    </section>
    <section class="espace"></section>
</main>
{% else %}
    <main>
        {% if is_correct %}
            <div class="qcm">
                <h4>Bravo, Bonne Réponse !</h4>
                <p>Score : +3</p>
                <div class="qcm-exact">
                    <div class="image_exact"></div>
                    <div class="text">
                        <p>Le Temple du Feu se cache dans les profondeurs de la montagne, protégé par les Gorons et rempli d'énigmes ardentes.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('game_index') }}" method="post">
                    <input type="submit" value="Continuer">
                </form>
            </div>
        {% else %}
            <div class="qcm">
                <h5>Erreur, Mauvaise Réponse !</h5>
                <p>Score : -1</p>
                <div class="qcm-erreur">
                    <div class="image_erreur"></div>
                    <div class="text">
                        <p>Oops! Votre réponse est incorrecte. Le temple que vous cherchez est lié au feu et se trouve dans la montagne.</p>
                    </div>
                </div>
                <br />
                <h6>Score actuel : {{ score }}</h6>
            </div>
            <br />
            <div class="suite">
                <form action="{{ path('montagne_montagne') }}" method="post">
                    <input type="submit" value="Retour">
                </form>
            </div>
        {% endif %}
    </main>
{% endif %}

<section class="start-game">
    <div class="recommencer">
        <form action="{{ path('game_index') }}" method="post">
            <input type="submit" name="recommencer" value="Recommencer">
        </form>
    </div>
</section>
{% endblock %}
